.*
*.log
build/
bower_components/
components/
coverage/
node_modules/
spec/
build-data.js
build-supported-words.js
scrape-data.js
bower.json
component.json
History.md
Supported-buzzwords.md
data/buzzwords.txt
